
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    gap:325px;
}

header .links {
    padding-left: 50px;
}
h1 {
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Open Sans', sans-serif;
    
}

a{
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color:#E5E7EB;
    font-weight: 18px; 
    margin-left: 5px;
}

button {
    width: 85px;
    height: 30px;
    border-radius: 5px;
    border-color: #3882F6;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}


.S1 {
    margin-top: 0;
    padding-top: 0;
    background-color: #1F2937;
    display: flex;
    justify-content:center;
    align-items: center;
}

.text_content{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 400px;
    padding: 32px;
    margin: 16px;
}

.awesome_web_text{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: bolder; 
    color: #F9FAF8;
}

.subtext {
    text-decoration: none;
    color:#E5E7EB;
    font-weight: 18px; 
    margin-right: 5px;
    flex-wrap: wrap;
}

.S1 img{
    width: 350px; /* Make the image fill its container horizontally */
    height: 200px; /* Make the image fill its container vertically */
    border-radius: 5px;
    margin-right: 30px;
}

.S2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info_block_group {
        display: flex;
        gap: 35px; 
    }

.info_block img{
    width:150px; /* Make the image fill its container horizontally */
    height: 150px;
    border-radius: 10px;
    border-color: #3882F6;
    border-style: solid;
    
}

.info_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 14px;

}
 
.S3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
}

.quote_box{
    font-size: 25px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    width: 600px;
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
    align-self: center;
}

.credit{
    padding-top: 0;
    margin-top: 0; 
    align-self: flex-end;
    margin-right: 250px;
    padding-bottom: 60px;
    font-weight: bolder;
    font-size: 18px;
}

.container{
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border-color: #3882F6;
    background-color: #3882F6;
    border-style: solid;
    padding: 16px;
    margin: 75px;
}

.call_text {
    font-weight: bolder;
    font-size: 17px;
    color: white;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sign_up_text {
    margin-top: 0;
    padding-top: 0;
    font-size: 15px;
    color: white;
}

.container button{
    border-color: white;
    border-radius: 7px;
    border-style: solid;
    padding: 5px;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    padding: 16px;
    margin: 0;
}